{#
/**
 * @file
 * Form theme for client side validation
 *
 * @author Viktor Novikov <viktor.novikov95@gmail.com>
 * @author Alexandr Zhulev <alexandrzhulev@gmail.com>
 */
#}
{% trans_default_domain 'validators' %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}
            {{ block('constraint_attr') }}/>
{% endblock form_widget_simple %}

{% block textarea_widget %}
    <textarea {{ block('widget_attributes') }} {{ block('constraint_attr') }}>{{ value }}</textarea>
{% endblock textarea_widget %}

{% block button_widget %}
    {% if label is empty %}
        {% if label_format is not empty %}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {% else %}
            {% set label = name|humanize %}
        {% endif %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }} {% if type == 'submit' %}class="form_submit_button"{% endif %}>
        {{ label|trans({}, translation_domain) }}
    </button>
{% endblock button_widget %}

{% block constraint_attr %}
    {% set field = pure_field_name(full_name) %}
    {% set constraints = '' %}
    {% if field != '_token' and entity_constraints[full_name] is defined %}
        {% for constraint in entity_constraints[full_name]|keys %}
            {% if constraint == 'Length' %}
                {% set data_min = entity_constraints[full_name][constraint]['min'] ?: 0 %}
                {% set data_max = entity_constraints[full_name][constraint]['max'] ?: 1000 %}
                data-min="{{ data_min }}"
                data-max="{{ data_max }}"
                data-min-message=
                "{{ entity_constraints[full_name][constraint]['minMessage']|transchoice(data_min, {'{{ limit }}':data_min}) }}"
                data-max-message=
                "{{ entity_constraints[full_name][constraint]['maxMessage']|transchoice(data_max, {'{{ limit }}':data_max}) }}"
            {% endif %}

            {% if constraint == 'File' %}
                data-maxSize="{{ entity_constraints[full_name][constraint]['maxSize'] }}"
                data-size-message="{{ entity_constraints[full_name][constraint]['maxSizeMessage']|trans }}"
                data-message="{{ entity_constraints[full_name][constraint]['uploadNoFileErrorMessage']|trans }}"
            {% endif %}

            {% if constraint == 'Image' %}
                data-message="{{ entity_constraints[full_name][constraint]['mimeTypesMessage']|trans }}"
            {% endif %}

            {% if constraint == 'EqualTo' %}
                data-value-equalto="{{ entity_constraints[full_name][constraint]['value'] }}"
            {% endif %}

            {% if constraint == 'NotEqualTo' %}
                data-value-notequalto="{{ entity_constraints[full_name][constraint]['value'] }}"
            {% endif %}

            {% if entity_constraints[full_name][constraint]['message'] is defined %}
                data-message-{{ constraint }}="{{ entity_constraints[full_name][constraint]['message']|trans }}"
            {% endif %}

            {% if loop.index == loop.first %}
                {% set constraints = constraint %}
            {% else %}
                {% set constraints = constraints ~ " " ~ constraint %}
            {% endif %}
        {% endfor %}
        data-constraint="{{ constraints }}"
    {% endif %}
{% endblock %}
