{% block form_widget_simple %}
    {% set type = type|default('text') %}
    <input {{ block('constraint_attr') }}
           type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} />
{% endblock form_widget_simple %}

{% block textarea_widget %}
    <textarea {{ block('constraint_attr') }} {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endblock textarea_widget %}

{% block button_widget %}
    {% if label is empty %}
        {% if label_format is not empty %}
            {% set label = label_format|replace({
            '%name%': name,
            '%id%': id,
            }) %}
        {% else %}
            {% set label = name|humanize %}
        {% endif %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }} {% if type == 'submit' %}class="form_submit_button"{% endif %}>{{ label|trans({}, translation_domain) }}</button>
{% endblock button_widget %}

{% block constraint_attr %}
    {% set field = pure_field_name(full_name) %}
    {% set constraints = '' %}
    {% if field != '_token' and entity_constraints[full_name] is defined %}
        {% for constraint in entity_constraints[full_name]|keys %}
            {% if constraint == 'Length' %}
                data-min="{{ (entity_constraints[full_name][constraint]['min'] != null) ? entity_constraints[full_name][constraint]['min'] : 0 }}"
                data-max="{{ (entity_constraints[full_name][constraint]['max'] != null) ? entity_constraints[full_name][constraint]['max'] : 1000 }}"
            {% endif %}
            {% if loop.index == loop.first %}
                {% set constraints = constraint %}
            {% else %}
                {% set constraints = constraints ~ " " ~ constraint %}
            {% endif %}
        {% endfor %}
    data-constraint="{{ constraints }}"
    {% endif %}
{% endblock %}
